---
// import { Icon } from 'astro-icon';
const items = [
	{
		name: 'Luciano Mammino',
		title: 'Author of Node.js Design Patterns',
		avatar: '/images/blog/loige.jpg',
		tweet: 'FANTASTIC WORKSHOP! Learned a ton! Thanks a lot 🙏',
		link: 'https://twitter.com/loige/status/1576984806092525570?s=20&t=ay3XtgwKP0Y51MOwtErh4g',
		picture: 'https://pbs.twimg.com/media/FeJ2OteWIAEzHl-?format=jpg&name=large',
	},

	{
		name: 'Caleb Queern',
		title: 'DevSecOps at KPMG Cyber Security',
		avatar: '/images/blog/hhtpSecHeaders.jpg',
		tweet:
			"👀 Wow what great work from @HTTPArchive on the 2022 Web Almanac's Security chapter! Nice job @_clarkio, @liran_tal, @Saptak013 https://almanac.httparchive.org/en/2022/security Lots of detailed analysis of progress and opportunities to better secure the web",
		link: 'https://twitter.com/HttpSecHeaders/status/1574596777008930823?s=20&t=ay3XtgwKP0Y51MOwtErh4g',
		picture: '',
	},
	{
		name: 'Jim Manico',
		title: 'OWASP Leader',
		avatar: '/images/blog/manicode.jpg',
		tweet:
			'What an honor. Thank you Liran. Some people talk about AppSec (me) and some people really dig in and do the work (you). I’m a big fan. 🤙🏻',
		link: 'https://twitter.com/manicode/status/1326929685553451008',
		picture: '',
	},
	{
		name: 'Rob Whittaker',
		title: 'Director of Software Development',
		avatar: '/images/blog/purinkle.jpg',
		tweet:
			'This is an excellent little article by @liran_tal on installing Ruby on macOS for local development. There are plenty of options available to you. (I prefer `asdf`.) The most important thing is not to use the system Ruby.',
		link: 'https://twitter.com/purinkle/status/1577728577470173195',
		picture: '',
	},
	{
		name: 'Jose Aguinaga',
		title: 'Head of Engineering at @hoprnet',
		avatar: '/images/blog/jjperezaguinaga.jpg',
		tweet:
			"This is one of the best guides I've seen on this topic, really cool stuff. Definitely going to take a look at @snyksec's @github action to add it in our @hoprnet project.",
		link: 'https://twitter.com/jjperezaguinaga/status/1349368415014825989',
		picture: '',
	},
	{
		name: 'Dev Sharma',
		title: 'Software Developer',
		avatar: '/images/blog/cryptus_neoxys.jpg',
		tweet: 'This has become my primary source for learning docker with node. Thanks for sharing these 💝',
		link: 'https://twitter.com/cryptus_neoxys/status/1393221416175034369',
		picture: '',
	},
	{
		name: 'Fernando Carrascosa',
		title: 'Tech Lead',
		avatar: '/images/blog/fcarrascosa_dev.jpg',
		tweet:
			'After being in a workshop by @liran_tal and realizing that RegExps can be exploited fairly easily, I decided to use a validation library. I even contributed to the @DefinitelyTyped definition of it :D',
		link: 'https://twitter.com/fcarrascosa_dev/status/1543694130940870659',
		picture: '',
	},
	{
		name: 'Jan Demel',
		title: 'Software Developer',
		avatar: '/images/blog/JanDemel1.jpg',
		tweet:
			"Just watched @liran_tal's talk about path traversal vulnerability @NodeConfEU. It was absolutely amazing! I was always into security issues and learning things from such an expert was an honor!",
		link: 'https://twitter.com/JanDemel1/status/1577221795274711040?s=20&t=ay3XtgwKP0Y51MOwtErh4g',
		picture: 'https://pbs.twimg.com/media/FeNq3BJWIAIkgxL?format=jpg&name=large',
	},
	// {
	// 	name: "tbd",
	// 	title: "tbd",
	// 	avatar: "tbd",
	// 	tweet: "tbd",
	// 	link: "tbd",
	// 	picture: "tbd"
	// },
];

const columnsSplit = Math.ceil(items.length / 3);
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-8xl mx-auto px-4">
		<!-- <div class="relative max-w-6xl mx-auto px-4 sm:px-6"> -->
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase"></p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Friends share feedback
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Testimonials from social media
				</p>
			</div>

			<div
				class="lg:mx-32 justify-center grid overflow-hidden gap-2 md:grid-cols-3 lg:grid-cols-3 items-baseline my-12 dark:text-white"
			>
				<ul class="space-y-8">
					{
						items.slice(0, columnsSplit).map((item) => {
							return (
								<>
									<li class="text-sm">
										<div class="flex flex-col justify-center items-center">
											<div class="block p-4 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
												<figcaption class="mb-2 p-2 w-full flex justify-left items-center space-x-3">
													<img class="w-9 h-9 rounded-full" src={item.avatar} alt="profile picture" />
													<div class="space-y-0.5 font-bold leading-tighter tracking-tighter font-heading text-left">
														<div>{item.name}</div>
														<div class="text-sm font-light text-gray-600 dark:text-slate-400">{item.title}</div>
													</div>
												</figcaption>

												<p class="text-sm font-normal text-gray-600 dark:text-slate-400">{item.tweet}</p>
												<img class="mt-2 rounded-t-lg" src={item.picture} alt="" />
											</div>
										</div>
									</li>
								</>
							);
						})
					}
				</ul>

				<ul class="space-y-8">
					{
						items.slice(columnsSplit, columnsSplit * 2).map((item) => {
							return (
								<>
									<li class="text-sm">
										<div class="flex flex-col justify-center items-center">
											<div class="block p-4 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
												<figcaption class="mb-2 p-2 w-full flex justify-left items-center space-x-3">
													<img class="w-9 h-9 rounded-full" src={item.avatar} alt="profile picture" />
													<div class="space-y-0.5 font-bold leading-tighter tracking-tighter font-heading text-left">
														<div>{item.name}</div>
														<div class="text-sm font-light text-gray-600 dark:text-slate-400">{item.title}</div>
													</div>
												</figcaption>

												<p class="font-normal text-gray-700 dark:text-gray-400">{item.tweet}</p>
												<img class="mt-2 rounded-t-lg" src={item.picture} alt="" />
											</div>
										</div>
									</li>
								</>
							);
						})
					}
				</ul>

				<ul class="space-y-8">
					{
						items.slice(columnsSplit * 2).map((item) => {
							return (
								<>
									<li class="text-sm">
										<div class="flex flex-col justify-center items-center">
											<div class="block p-4 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
												<figcaption class="mb-2 p-2 w-full flex justify-left items-center space-x-3">
													<img class="w-9 h-9 rounded-full" src={item.avatar} alt="profile picture" />
													<div class="space-y-0.5 font-bold leading-tighter tracking-tighter font-heading text-left">
														<div>{item.name}</div>
														<div class="text-sm font-light text-gray-600 dark:text-slate-400">{item.title}</div>
													</div>
												</figcaption>

												<p class="font-normal text-gray-600 dark:text-slate-400">{item.tweet}</p>
												<img class="mt-2 rounded-t-lg" src={item.picture} alt="" />
											</div>
										</div>
									</li>
								</>
							);
						})
					}
				</ul>
			</div>
		</div>
	</div>
</section>
