---
// import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
// import Layout from '~/layouts/BooksLayout.astro';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/BooksHero.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import BookFeatures from '~/components/widgets/BookFeatures.astro';
import Features from '~/components/widgets/Features.astro';
import BookAuthor from '~/components/widgets/BookAuthor.astro';
import Steps from '~/components/widgets/Steps.astro';
import ScaleUpSecurity from '~/components/widgets/ScaleUpSecurity.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQ from '~/components/widgets/FAQ.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ProfileHero from '~/components/widgets/ProfileHero.astro';

const meta = {
	title: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
	description: `Don't settle for generic security guides, experience them. Learn secure coding conventions in Node.js by executing command injection attacks on real-world NPM packages and analyzing vulnerable code.`,
	canonical: getCanonical(getHomePermalink()),
};

import { Image } from '@astrojs/image/components';
import Picture from '~/components/core/Picture.astro';
import BookCover1 from '~/assets/images/book-cover-essential-nodejs-security.jpg';
import BookCover2 from '~/assets/images/book-cover-serverless-security.jpeg';
import BookCover3 from '~/assets/images/book-cover-web-security-learning-http-security-headers.png';

const OtherBooksItems = [
	{
		cover: BookCover1,
		title: 'Essential Node.js Security',
		description: `Learn Node.js security best practices and how to secure your Node.js applications. This book covers a wide range of topics, including Node.js security best practices, Node.js security tools, and Node.js security vulnerabilities.`,
		author: 'Liran Tal',
		href: 'https://nodejs-security.lemonsqueezy.com/checkout/buy/5d5975e1-4481-40a5-b180-de154cc865b0',
		socialTwitterShare:
			'https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.lirantal.com%2Fbooks%2Fnodejs-secure-coding&via=liran_tal&text=Check%20out%20Liran%27s%20Node.js%20security%20books%20-%20all%20about%20secure%20coding%2C%20essential%20Node.js%20security%20topics%2C%20including%20serverless%20and%20web%20security',
	},
	{
		cover: BookCover2,
		title: 'Serverless Security',
		description: `Learn how to secure your serverless applications. This book covers a wide range of topics, including serverless security best practices, serverless security tools, and serverless security vulnerabilities.`,
		author: 'Guy Podjarny & Liran Tal',
		href: 'https://www.oreilly.com/library/view/serverless-security/9781492082538/',
		socialTwitterShare:
			'https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.lirantal.com%2Fbooks%2Fnodejs-secure-coding&via=liran_tal&text=Check%20out%20Liran%27s%20Node.js%20security%20books%20-%20all%20about%20secure%20coding%2C%20essential%20Node.js%20security%20topics%2C%20including%20serverless%20and%20web%20security',
	},
	{
		cover: BookCover3,
		title: 'Web Security: Learning HTTP Security Headers',
		description: `Learn how to secure your web applications. This book covers a wide range of topics, including web security best practices, web security tools, and web security vulnerabilities.`,
		author: 'Liran Tal',
		href: 'https://nodejs-security.lemonsqueezy.com/checkout/buy/3e91088f-cbb8-41a0-9c3a-5d60233f6f7b',
		socialTwitterShare:
			'https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.lirantal.com%2Fbooks%2Fnodejs-secure-coding&via=liran_tal&text=Check%20out%20Liran%27s%20Node.js%20security%20books%20-%20all%20about%20secure%20coding%2C%20essential%20Node.js%20security%20topics%2C%20including%20serverless%20and%20web%20security',
	},
];
---

<Layout {meta}>
	<!-- <ProfileHero />
	<Features />
	<HighlightedPosts /> -->

	<Hero
		title="Node.js Secure Coding:"
		subtitle="Defending Against Command Injection Vulnerabilities"
		CTA2={{
			text: 'More on this Node.js Secure Coding book',
			href: 'https://nodejs-security.com',
			priceOld: '',
			priceNew: '',
		}}
		SKIP_CTA1={{ text: 'Learn more', href: '#features' }}
		CTA3={{
			text: 'Buy now',
			href: 'https://nodejs-security.lemonsqueezy.com/checkout/buy/6ee5f646-a6fc-4d6e-bda4-7ebbe26aea41',
		}}
		image={{
			src: import('~/assets/images/nodejs-secure-coding-book-3d-style.png'),
			alt: 'Node.js Secure Coding: Defending Against Command Injection Vulnerabilities',
		}}
	>
		<Fragment slot="description">
			<span class="hidden sm:inline">
				Master secure coding in Node.js with real-world examples.
				<br />
				<br />
				execute command injection attacks, analyze vulnerable code, and build practical skills.
			</span>
		</Fragment>
	</Hero>

	<!-- <ScaleUpSecurity /> -->

	<!-- <BookFeatures /> -->

	<!-- <Pricing /> -->

	<!-- <Steps /> -->

	<!-- <Features /> -->
	<!-- <BookAuthor /> -->
	<!-- <Features3 /> -->

	<!-- <FAQ /> -->
	<!-- <Stats /> -->
	<!-- <CallToAction /> -->

	<section class="body-font">
		<div class="container px-5 pb-24 mx-auto">
			<div class="flex flex-col text-center w-full mb-20">
				<h2 class="text-2xl font-medium title-font mb-4">Explore Other Books on Web, Cloud and Node.js Security</h2>
				<p class="lg:w-2/3 mx-auto leading-relaxed text-base">
					Discover Liran Tal's other works on JavaScript, Cloud, and Node.js security. These books cover a wide range of
					topics, including Serverless Security, Essential Node.js Security, and Web Security with a focus on HTTP
					security headers.
				</p>
			</div>
			<div class="flex flex-wrap -m-4">
				{
					OtherBooksItems.map((bookItem) => {
						return (
							<div class="p-4 lg:w-1/3 md:w-1/2 sm:w-1/1">
								<div class="h-full flex flex-col items-center text-center">
									<Image
										src={bookItem.cover}
										alt={bookItem.title}
										height="420"
										format="avif"
										class="rounded-lg h-72 object-contain mb-4 mx-auto"
									/>
									<div class="w-full">
										<h2 class="title-font font-medium text-lg">{bookItem.title}</h2>
										<h3 class="mb-3">{bookItem.author}</h3>
										<p class="mb-4">{bookItem.description}</p>
										<div class="flex sm:w-auto">
											<a
												class="btn text-white bg-pink-500 hover:bg-pink-700 dark:bg-pink-500 dark:hover:bg-pink-700 rounded-lg my-4 inline-flex items-center justify-center px-4 py-2.5 text-center w-full"
												href={bookItem.href}
												target="_blank" rel="noopener noreferrer"
											>
												Buy now
											</a>
										</div>
										<span class="inline-flex">
											<!--
											<a class="">
												<svg
													fill="none"
													stroke="currentColor"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
													class="w-5 h-5"
													viewBox="0 0 24 24"
												>
													<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z" />
												</svg>
											</a>
											-->
											<a class="ml-2" href={bookItem.socialTwitterShare} target="_blank" rel="noopener noreferrer">
												<svg
													fill="none"
													stroke="currentColor"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
													class="w-5 h-5"
													viewBox="0 0 24 24"
												>
													<path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z" />
												</svg>
											</a>
										</span>
									</div>
								</div>
							</div>
						);
					})
				}
			</div>
		</div>
	</section>
</Layout>
